# Python Assignment - 7
### Atharva Suryakant Mali | Class: MCA - I - D | Roll No: 23436

In [2]:
import pymongo

# Establishing connection to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Creating a database named 'college'
db = client["college"]

In [4]:
# 6. Write a python program to create a MongoDB database named ‘college’, collection named
# ‘student’ and insert one document in the collection ‘student’ having following structure.
# {“_id”: 1, “name”: “Ashok Deshpande”, “year”: “MCA-I”, “address”: “Vadgaon - Pune”}
# Display the inserted document in the collection ‘student’.

student_collection = db["student"]
student_data_1 = {"_id": 1, "name": "Ashok Deshpande", "year": "MCA-I", "address": "Vadgaon - Pune"}
student_collection.insert_one(student_data_1)

# Displaying the inserted document
print("Inserted document:")
print(student_collection.find_one({"_id": 1}))

Inserted document:
{'_id': 1, 'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}

In [5]:
# 7. Write a python program to insert many documents in a MongoDB collection named
# ‘student’.
# {“_id”: 2, “name”: “Abhijeet Kulkarni”, “year”: “MCA-I”, “address”: “Malegaon Nashik”}
# {“_id”: 3, “name”: “Usha Shinde”, “year”: “MCA-I”, “address”: “Lasalgaon - Nashik”}
# {“_id”: 4, “name”: “Akshay Kumar”, “year”: “MCA-I”, “address”: “Dadar - Mumbai”}
# {“_id”: 5, “name”: “Amisha Patel”, “year”: “MCA-I”, “address”: “Lasalgaon - Nashik”}
# Display all the documents of the collection ‘student’ after insert operation.

student_data_many = [
    {"_id": 2, "name": "Abhijeet Kulkarni", "year": "MCA-I", "address": "Malegaon Nashik"},
    {"_id": 3, "name": "Usha Shinde", "year": "MCA-I", "address": "Lasalgaon - Nashik"},
    {"_id": 4, "name": "Akshay Kumar", "year": "MCA-I", "address": "Dadar - Mumbai"},
    {"_id": 5, "name": "Amisha Patel", "year": "MCA-I", "address": "Lasalgaon - Nashik"}
]
student_collection.insert_many(student_data_many)

# Displaying all documents after insertion
print("\nAll documents after insert operation:")
for student in student_collection.find():
    print(student)

All documents after insert operation:
{'_id': 1, 'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}
{'_id': 2, 'name': 'Abhijeet Kulkarni', 'year': 'MCA-I', 'address': 'Malegaon Nashik'}
{'_id': 3, 'name': 'Usha Shinde', 'year': 'MCA-I', 'address': 'Lasalgaon - Nashik'}
{'_id': 4, 'name': 'Akshay Kumar', 'year': 'MCA-I', 'address': 'Dadar - Mumbai'}
{'_id': 5, 'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Lasalgaon - Nashik'}

In [6]:
# 8. Write a python program to update many documents in a MongoDB collection named
# ‘student’ having address = “Lasalgaon – Nashik” with new address = “Hadapsar - Pune”.
# Display all documents of the collection named ‘student’ before and after updating the
# documents.

print("\nDocuments before update:")
for student in student_collection.find({"address": "Lasalgaon - Nashik"}):
    print(student)

student_collection.update_many({"address": "Lasalgaon - Nashik"}, {"$set": {"address": "Hadapsar - Pune"}})

# Displaying all documents after update
print("\nDocuments after update:")
for student in student_collection.find():
    print(student)

Documents before update:
{'_id': 3, 'name': 'Usha Shinde', 'year': 'MCA-I', 'address': 'Lasalgaon - Nashik'}
{'_id': 5, 'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Lasalgaon - Nashik'}

Documents after update:
{'_id': 1, 'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}
{'_id': 2, 'name': 'Abhijeet Kulkarni', 'year': 'MCA-I', 'address': 'Malegaon Nashik'}
{'_id': 3, 'name': 'Usha Shinde', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}
{'_id': 4, 'name': 'Akshay Kumar', 'year': 'MCA-I', 'address': 'Dadar - Mumbai'}
{'_id': 5, 'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}

In [7]:
# 9. Write a python program to delete documents from a MongoDB collection named ‘student’
# having address = “Hadapsar - Pune”.
# Display all the documents of the collection named ‘student’ before and after deleting
# documents.

print("\nDocuments before delete:")
for student in student_collection.find({"address": "Hadapsar - Pune"}):
    print(student)

student_collection.delete_many({"address": "Hadapsar - Pune"})

# Displaying all documents after delete
print("\nDocuments after delete:")
for student in student_collection.find():
    print(student)

Documents before delete:
{'_id': 3, 'name': 'Usha Shinde', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}
{'_id': 5, 'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}

Documents after delete:
{'_id': 1, 'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}
{'_id': 2, 'name': 'Abhijeet Kulkarni', 'year': 'MCA-I', 'address': 'Malegaon Nashik'}
{'_id': 4, 'name': 'Akshay Kumar', 'year': 'MCA-I', 'address': 'Dadar - Mumbai'}

In [ ]:
# 10. Import the given collection data file ‘restaurants.json’ in MongoDB database named
# ‘business’ and collection named ‘reviews’.

# a. Write a python program to display all documents from a MongoDB named
# ‘business’ and collection named ‘reviews’ having “cuisine” = “Vegetarian”. Also
# display the count of documents having “cuisine” = “Vegetarian”.
# b. Write a python program to display all documents from a MongoDB named
# ‘business’ and collection named ‘reviews’ having “rating” = 5. Also display the
# count of documents having “rating” = 5.
# c. Write a python program to display all documents from a MongoDB named
# ‘business’ and collection named ‘reviews’ having “cuisine” = “American”. Also
# display the count of documents having “cuisine” = “American”.
# d. Write a python program to display all documents from a MongoDB named
# ‘business’ and collection named ‘reviews’ having “cuisine” = “Fast Food”. Also
# display the count of documents having “cuisine” = “Fast Food”.